

* { color: red; background-color: rgb(10, 97, 108)}

QCheckBox{
    spacing: 2px;
    color: white;
}
QCheckBox::indicator {
    width: 45px;
    height: 30px;
}
QCheckBox::indicator:unchecked {
    image: url(:/res/icon/skin/style1/ysimg/work_switch.png);
}
QCheckBox::indicator:unchecked:hover {
    image: url(:/res/icon/skin/style1/ysimg/work_switch.png);
}
QCheckBox::indicator:unchecked:pressed {
    image: url(:/res/icon/skin/style1/ysimg/work_switch.png);
}
QCheckBox::indicator:checked {
    image: url(:/res/icon/skin/style1/ysimg/desktop_switch.png);
}
QCheckBox::indicator:checked:hover {
    image: url(:/res/icon/skin/style1/ysimg/desktop_switch.png);
}
QCheckBox::indicator:checked:pressed {
    image: url(:/res/icon/skin/style1/ysimg/desktop_switch.png);
}
